<amexio-nav [enable-side-nav-position]="true" [title]="'Lmproh'">
</amexio-nav>
<amexio-row>
    <amexio-column [size]="'2pt5'" style="padding-top: 68px;">
        <amexio-side-nav [data]="menuData" [height]="'92%'" [data-reader]="'data'" (nodeClick)="routeToLink($event)"></amexio-side-nav>
    </amexio-column>
    <amexio-column [size]="'9pt5'" style="padding: 83px 15px 15px 15px;">
        <router-outlet></router-outlet>
    </amexio-column>
</amexio-row>
